{% load static %}
<footer>
    <div class="container">
        <div class="row">
            <div class="col-3">
                <div class="f-logo">
                    <img src="{% static 'home_assets/media/logo.svg' %}" alt="">
                </div>
                
            </div>
            <div class="col">
                <h3 class="f-link">Products</h3>
                <ul class="flinks">
                    <li><a href="#">Lanline</a></li>
                    <li><a href="#">Cabline</a></li>
                    <li><a href="#">Powline</a></li>
                    <li><a href="#">Actline</a></li>
                    <li><a href="#">Secline</a></li>
                </ul>
            </div>
            <div class="col">
                <h3 class="f-link">Quick Links</h3>
                <ul class="flinks">
                    <li><a href="{% url 'home-page' %}">Home</a></li>
                    <li><a href="{% url 'home-projects' %}">Our Projects</a></li>
                    <li><a href="{% url 'home-support' %}">Support</a></li>
                    <li><a href="{% url 'home-partners' %}">Partners</a></li>
                    <li><a href="{% url 'home-blog' %}">Blog</a></li>
                </ul>
            </div>
            <div class="col">
                <h3 class="f-link">Company</h3>
                <ul class="flinks">
                    <li><a href="{% url 'home-about' %}">About Us</a></li>
                    <li><a href="{% url 'home-contact' %}">Contact Us</a></li>
                    <li><a href="{% url 'home-projects' %}">Our Projects</a></li>
                    <li><a href="{% url 'home-faq' %}">FAQ</a></li>
                    <li><a href="{% url 'home-careers' %}">Careers</a></li>
                </ul>
            </div>
            <div class="col-4">
                <h3 class="f-link">Stay Connected</h3>
                <ul class="flinks">
                    <li><a href="#">Subscribe to our newsletter for updates</a></li>
                    <li>
                        <div class="f-search">
                            <input type="email" name="" id="" placeholder="Email address">
                            <a href="" class="send"><img src="{% static 'home_assets/media/send.png' %}" alt=""></a>
                        </div>
                    </li>
                    <li>
                        <ul class="soci">
                            <li><a href="" target="_blank"><img src="{% static 'home_assets/media/Instagram (1).png' %}" alt=""></a></li>
                            <li><a href="" target="_blank"><img src="{% static 'home_assets/media/Facebook.png' %}" alt=""></a></li>
                            <li><a href="" target="_blank"><img src="{% static 'home_assets/media/linkedin.png' %}" alt=""></a></li>
                            <li><a href="" target="_blank"><img src="{% static 'home_assets/media/Instagram.png' %}" alt=""></a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <div class="f-bottom">
            <div>
                <a href="{% url 'home-privacy' %}">Privacy</a>
                <span> | </span>
                <a href="{% url 'home-terms' %}">Terms of Use</a>
                <span> | </span>
                <a href="{% url 'account-login-page' %}">management(official)</a>
            </div>
            <div>
                <p>© 2024 Hubnetix Corporation. All rights reserved.</p>
            </div>
        </div>
    </div>
</footer>