<!DOCTYPE html>
<html lang="en">
  {% load static %}

  
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Hubnetix Corporation</title>
  <link rel="stylesheet" href="{% static 'home_assets/css/bootstrap.css' %}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/11.0.5/swiper-bundle.min.css">
  <link rel="stylesheet" href="{% static 'home_assets/css/owlcarousel.css' %}">
  <link rel="stylesheet" href="{% static 'home_assets/css/styles.css' %}">
</head>

<body>
  <section class="projects">
    <div class="container">
      <div class="row g-4">
        {% for project in projects %}
        <div class="col-4">
          <a href="{{ project.url }}">
            <div class="proj-card rounded-3">
              <div class="proj-img position-relative">
                <img src="{% static project.image %}" alt="Project Image" class="rounded-3">
                <div class="pro-text">
                  <h3>{{ project.title }}</h3>
                  <p>{{ project.description }}</p>
                </div>
              </div>
            </div>
          </a>
        </div>
        {% endfor %}
      </div>
    </div>
  </section>

  <section class="testi position-relative">
    <div class="pattern">
      <img src="{% static 'home_assets/media/ab-bg.png' %}" alt="">
    </div>
    <div class="container">
      <div class="text-center">
        <h2 class="title">Hear from Our Clients</h2>
        <p>Discover how we’ve earned the trust and satisfaction of our valued clients.</p>
      </div>
      <div class="owl-carousel owl-theme mt-4">
        {% for testimonial in testimonials %}
        <div class="item">
          <div class="testi-card">
            <p>{{ testimonial.message }}</p>
            <div class="usr">
              <h2>{{ testimonial.name }}</h2>
              <p>{{ testimonial.title }}</p>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </section>

  <section class="mid-sec">
    <div class="container">
      <div class="mid-area position-relative">
        <div class="mid-img">
          <img src="{% static 'home_assets/media/cs.png' %}" alt="">
        </div>
        <h2 class="title">Client Satisfaction Charts</h2>
        <p>Our client satisfaction charts highlight HUBNETIX's excellence in product quality, timely delivery, and reliable customer support.</p>
        <a href="{% url 'home-charts' %}" class="km">View Charts <i class="fa-solid fa-circle-arrow-right"></i></a>
      </div>
    </div>
  </section>

  <section class="blog">
    <div class="container">
      <h2 class="title">Sustainability Blogs</h2>
      <div class="flex-area">
        <p>Stay informed with our latest insights and initiatives focused on sustainable technology.</p>
        <a href="{% url 'home-blog' %}" class="km">View More <i class="fa-solid fa-circle-arrow-right"></i></a>
      </div>
      <div class="row g-4 mt-1">
        {% for blog in blogs %}
        <div class="col-4">
          <a href="{{ blog.url }}">
            <div class="blog-card">
              <div class="blog-img">
                <img src="{% static blog.image %}" alt="Blog Image" class="rounded-3">
              </div>
              <h3>{{ blog.category }}</h3>
              <h2>{{ blog.title }}</h2>
              <p>{{ blog.excerpt }}</p>
            </div>
          </a>
        </div>
        {% endfor %}
      </div>
    </div>
  </section>

  <section class="req-quote">
    <div class="container">
      <h2 class="title">Request a Quote</h2>
      <div class="flex-area">
        <p>Looking for tailored solutions to meet your specific needs? Contact us for a personalized quote.</p>
        <a href="{% url 'home-request_quote' %}" class="box-btn">Request a Quote</a>
      </div>
    </div>
  </section>

  <footer>
    <div class="container">
      <div class="row">
        <div class="col-3">
          <div class="f-logo">
            <img src="{% static 'home_assets/media/logo.svg' %}" alt="Logo">
          </div>
        </div>
        <div class="col">
          <h3 class="f-link">Products</h3>
          <ul class="flinks">
            {% for product in products %}
            <li><a href="{{ product.url }}">{{ product.name }}</a></li>
            {% endfor %}
          </ul>
        </div>
        <div class="col">
          <h3 class="f-link">Quick Links</h3>
          <ul class="flinks">
            <li><a href="{% url 'home-page' %}">Home</a></li>
            <li><a href="{% url 'home-projects' %}">Our Projects</a></li>
            <li><a href="{% url 'home-support' %}">Support</a></li>
            <li><a href="{% url 'home-partners' %}">Partners</a></li>
            <li><a href="{% url 'home-blog' %}">Blog</a></li>
          </ul>
        </div>
        <div class="col">
          <h3 class="f-link">Company</h3>
          <ul class="flinks">
            <li><a href="{% url 'home-about' %}">About Us</a></li>
            <li><a href="{% url 'home-contact' %}">Contact Us</a></li>
            <li><a href="{% url 'home-projects' %}">Our Projects</a></li>
            <li><a href="{% url 'home-faq' %}">FAQ</a></li>
            <li><a href="{% url 'home-careers' %}">Careers</a></li>
          </ul>
        </div>
        <div class="col-4">
          <h3 class="f-link">Stay Connected</h3>
          <ul class="flinks">
            <li><a href="#">Subscribe to our newsletter for updates</a></li>
            <li>
              <div class="f-search">
                <input type="email" placeholder="Email address">
                <a href="#" class="send"><img src="{% static 'home_assets/media/send.png' %}" alt="Send"></a>
              </div>
            </li>
            <li>
              <ul class="soci">
                <li><a href="#" target="_blank"><img src="{% static 'home_assets/media/Instagram.png' %}" alt="Instagram"></a></li>
                <li><a href="#" target="_blank"><img src="{% static 'home_assets/media/Facebook.png' %}" alt="Facebook"></a></li>
                <li><a href="#" target="_blank"><img src="{% static 'home_assets/media/linkedin.png' %}" alt="LinkedIn"></a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
      <div class="f-bottom">
        <div>
          <a href="{% url 'home-privacy' %}">Privacy</a> | <a href="{% url 'home-terms' %}">Terms of Use</a>
        </div>
        <div>
          <p>&copy; 2024 Hubnetix Corporation. All rights reserved.</p>
        </div>
      </div>
    </div>
  </footer>

  <script src="{% static 'home_assets/js/jquery.js' %}"></script>
  <script src="{% static 'home_assets/js/bootstrap.js' %}"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/11.0.5/swiper-bundle.min.js"></script>
  <script src="{% static 'home_assets/js/owlcarousel.js' %}"></script>
  <script>
    var swiper = new Swiper(".mySwiper", {
      spaceBetween: 30,
      autoplay: {
        delay: 2500,
        disableOnInteraction: true,
      },
      effect: "fade",
      navigation: {
        nextEl: ".swiper-button-next",
        prevEl: ".swiper-button-prev",
      },
    });

    $('.slider-area .owl-carousel').owlCarousel({
      loop: true,
      margin: 0,
      autoplay: true,
      smartSpeed: 1000,
      nav: false,
      dots: false,
      responsive: {
        0: { items: 1 },
        600: { items: 3 },
        1000: { items: 5 }
      }
    });

    $('.testi .owl-carousel').owlCarousel({
      loop: true,
      margin: 0,
      autoplay: true,
      smartSpeed: 1000,
      nav: false,
      responsive: {
        0: { items: 1 },
        600: { items: 3 },
        1000: { items: 3 }
      }
    });
  </script>
</body>

</html>
