{% load static %}
{% block extra_header_js %}
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
{% endblock %}

<header>
    <nav class="navbar navbar-expand-lg">
        <div class="container">
            <a class="navbar-brand" href="{% url 'home-page' %}">
                <div class="logo">
                    {% if page_title %}
                        <img src="{% static 'home_assets/media/logo.svg' %}" alt="Logo">
                    {% else %}
                        <img src="{% static 'home_assets/media/logo-red.svg' %}" alt="Logo">
                    {% endif %}
                </div>
            </a>

            <button class="navbar-toggler" type="button" 
                    data-bs-toggle="collapse" 
                    data-bs-target="#navbarNav"
                    aria-controls="navbarNav" 
                    aria-expanded="false" 
                    aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{% url 'home-page' %}">Home</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" 
                           id="navbarDropdown" role="button" 
                           data-bs-toggle="dropdown" 
                           aria-expanded="false">
                            Products
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="{% url 'user_account-category_view' 1 %}">LANLINE</a>
                            <a class="dropdown-item" href="{% url 'user_account-category_view' 2 %}">CABLINE</a>
                            <a class="dropdown-item" href="{% url 'user_account-category_view' 4 %}">ACTLINE</a>
                            <a class="dropdown-item" href="{% url 'user_account-category_view' 3 %}">POWLINE</a>
                            <a class="dropdown-item" href="{% url 'user_account-category_view' 5 %}">SECLINE</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'home-support' %}">support</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'home-partners' %}">partners</a>
                    </li>
                    <li>
                        <div class="search-box">
                            <input class="search-text" type="text" placeholder="Search Anything">
                            <a href="#" class="search-btn">
                                <i class="fas fa-search"></i>
                            </a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>


