{% extends "base.html" %}
{% block content %}
<div class="container">
    <h1>{{ survey.title }}</h1>
    
    <form method="POST" class="mt-4">
        {% csrf_token %}
        <div class="row">
            <div class="col-md-6 mb-3">
                {{ form.name.label_tag }}
                {{ form.name }}
            </div>
            <div class="col-md-6 mb-3">
                {{ form.email.label_tag }}
                {{ form.email }}
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 mb-3">
                {{ form.phone.label_tag }}
                {{ form.phone }}
            </div>
            <div class="col-md-4 mb-3">
                {{ form.age.label_tag }}
                {{ form.age }}
            </div>
            <div class="col-md-4 mb-3">
                {{ form.place.label_tag }}
                {{ form.place }}
            </div>
        </div>
        
        <div class="survey-questions mt-4">
            {% for field in form %}
                {% if 'question_' in field.name %}
                    <div class="mb-4">
                        {{ field.label_tag }}
                        {{ field }}
                    </div>
                {% endif %}
            {% endfor %}
        </div>
        
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
{% endblock %}